tml {
	margin: 20px;
	background-color: #EDF5C8;
}

title {
	font-family: "HelveticaNeue-Light";
	font-weight: 250;
   	color: #333;
	text-align: center;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #333;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  .button {
  font-family: "Arial";
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
}
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	color: #E321A9;
}

#contact {
	align-items: center;

	#myDiv{
	text-align: center;
	}

	#mySpan{
	writing-mode: vertical-lr; 
	transform: rotate(180deg);
	}
}


.button {
  font-family: "Arial";
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
}

.button:hover {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


h3 {

#box-one{ 
background-color: yellow;
padding: 10px;
}

}

h4 {
	#myDiv{
text-align: center;
}

#mySpan{
writing-mode: vertical-lr; 
transform: rotate(180deg);
}
}