tml {
	margin: 20px;
	background-color: #EDF5C8;
}

title {
	font-family: "HelveticaNeue-Light";
	font-weight: 250;
   	color: #333;
	text-align: center;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #333;
   text-align: justify;
}


* {
  box-sizing: border-box;
}


.column {
  float: left;
  font-family: "Arial";
  background-color: #4CAF50; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


.left {
  width: 25%;
}

.right {
  width: 75%;
}


h1 {
	font-size: 50px;
	color: #D8BFD8;
}

p {
	font-size: 20px;
	color: #696969;
	text-align: justify;
}


.button {
	font-family: "Arial";
	background-color: #D8BFD8; 
	border: none; 
	color: #696969;
	padding: 6px 23px;
	text-align: center;
	text-decoration: none;
	display: inline-block; 
	border-radius: 4px;
	font-size: 16px;
}


.button:hover {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.in_btn {
  font-family: "Arial";
  background-color: #D8BFD8; 
  border: none;
  color: #696969;
  padding: 18px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
}

.in_btn:hover {
   -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.in_btn img {
    float: left;
}
