tml {
	margin: 20px;
	background-color: #EDF5C8;
}

title {
	font-family: "HelveticaNeue-Light";
	font-weight: 250;
   	color: #333;
	text-align: center;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #333;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	color: #E321A9;
}

h3 {
#box-one {
background-color: gray;
padding: 10px;
}

#box-two{ 
background-color: yellow;
padding: 10px;
}

}